The scope of ETL project is as follows:
We have NFL player data from Wikipedia , Kaggle and Data.World and would want information on players who made it Pro-Bowl from 2017 to 1997
1. So we get the players name(list) from Wikipedia for each year's probowl selection ( Check pages from 2017--1997)
2. Once we get the information for 30 years of data , we remove the duplicates
3. then we join the player name with information ( csv file and spreadsheet from Kaggle and Data.World) to get additional information on the player.
4. We clean the data
5. We save the data to a cloud database and expose it as REST API's..

In [1]:
# Import BeautifulSoup
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
from sqlalchemy import create_engine
import sqlalchemy
#import bamboolib as bam

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
base_url = 'https://en.wikipedia.org/wiki/'
base_url_forplayer = 'https://en.wikipedia.org'
player_info = []

In [4]:
# Visit the following URL
# Our scope is All-Pro-Team from 1997 to 2017
nflseason_year = 1987
while nflseason_year < 2018:
    url = base_url + str(nflseason_year)+'_All-Pro_Team'
    browser.visit(url)
    time.sleep(3)
    #getting the html content from the browser instance launched using splinter
    html=browser.html
    #scrape the web page using beautiful soup and lxml parser
    soup = BeautifulSoup(html, 'lxml')
    player_tableColl = soup.find_all('table', class_='wikitable')
    for table in player_tableColl:
        tr_coll = table.find_all('tr')
        for item in tr_coll:
            data = item.find_all(['th','td'])
            if data:
                try:
                    player = data[1].a.text
                    player1 = data[2].a.text
                    if player not in player_info:
                        player_info.append(player)
                    if player1 not in player_info:
                        player_info.append(player1)
                except Exception:pass
                #print("exception")
    nflseason_year = nflseason_year + 1
    
#print the dictionary
print(player_info)

['Eric Dickerson', 'Herschel Walker', 'Mark Bavaro', 'Kellen Winslow', 'Gary Zimmerman', 'Jim Lachey', 'Mike Munchak', 'Tom Newberry', 'Dwight Stephenson', 'Ray Donaldson', 'Morten Andersen', 'Dean Biasucci', 'Jim Arnold', 'Ralf Mojsiejenko', 'Reggie White', 'Charles Mann', 'Michael Carter', 'Keith Millard', 'Fredd Young', 'Shane Conlan', 'Carl Banks', 'Duane Bickett', 'Hanford Dixon', 'Jerry Gray', 'Joey Browner', 'Kenny Easley', 'Boomer Esiason', 'Dan Marino', 'Anthony Muñoz', 'Luis Sharpe', 'Max Montoya', 'Jay Hilgenberg', 'Scott Norwood', 'Richard Dent', 'Tim Krumrie', 'Steve McMichael', 'Mike Singletary', 'John Offerdahl', 'Cornelius Bennett', 'Andre Tippett', 'Frank Minnifield', 'Carl Lee', 'David Fulcher', 'Joe Montana', 'Don Majkowski', 'Christian Okoye', 'Dalton Hilliard', 'Jerry Rice', 'Andre Reed', 'Keith Jackson', 'Steve Jordan', 'Chris Hinton', 'Kirk Lowdermilk', 'Sean Landeta', 'Rich Camarillo', 'Rod Woodson', 'John Taylor', 'Chris Doleman', 'Bruce Smith', 'Ray Childress', 'Karl Mecklenburg', 'Billy Ray Smith', 'Tim Harris', 'Pat Swilling', 'Albert Lewis', 'Erik McMillan', 'Jim Kelly', 'Thurman Thomas', 'Marion Butts', 'Rodney Holman', 'Bruce Matthews', 'Kent Hull', 'Nick Lowery', 'Pete Stoyanovich', 'Rohn Stark', 'Michael Dean Perry', 'Jerry Ball', 'Pepper Johnson', 'Derrick Thomas', 'Lawrence Taylor', 'Kevin Ross', 'Mark Rypien', 'Emmitt Smith', 'Michael Irvin', 'Marv Cook', 'Jay Novacek', 'Paul Gruber', 'Steve Wisniewski', 'Jim Richter', 'Jeff Gossett', 'Reggie Roby', 'Mel Gray', 'Brian Mitchell', 'Greg Townsend', 'Jerome Brown', 'Sam Mills', 'Vincent Brown', 'Wilber Marshall', 'Darrell Green', 'Eric Allen', 'Ronnie Lott', 'Tim McDonald', 'Steve Young', 'Randall Cunningham', 'Sterling Sharpe', 'Jackie Harris', 'Harris Barton', 'Will Wolford', 'Randall McDaniel', 'Vai Sikahema', "Leslie O'Neal", 'Cortez Kennedy', 'Pierce Holt', 'Junior Seau', 'Chris Spielman', 'Seth Joyner', 'Gill Byrd', 'Steve Atwater', 'Louis Oliver', 'John Elway', 'Andre Rison', 'Shannon Sharpe', 'Brent Jones', 'Richmond Webb', 'Greg Montgomery', 'Michael Brooks', 'Greg Lloyd', 'LeRoy Butler', 'Marshall Faulk', 'Terance Mathis', 'Ben Coates', 'Willie Roaf', 'Lomas Brown', 'Keith Sims', 'Dermontti Dawson', 'Mark Stepnoski', 'Rick Tuten', 'John Randle', 'Aeneas Williams', 'Darren Woodson', 'Carnell Lake', 'Brett Favre', 'Cris Carter', 'Nate Newton', 'Kevin Glover', 'Jason Elam', 'Darren Bennett', 'Louie Aguiar', 'Neil Smith', 'Dana Stubblefield', 'Bryce Paup', 'Ken Harvey', 'Terry McDaniel', 'Green Bay Packers', 'Terrell Davis', 'Terry Allen', 'Larry Centers', 'Mike Alstott', 'Tony Martin', 'Wesley Walls', 'Bruce Armstrong', 'Cary Blanchard', 'John Kasay', 'Chris Gardocki', 'Todd Sauerbrun', 'Michael Bates', 'Dave Meggett', 'Chester McGlockton', 'Levon Kirkland', 'Chad Brown', 'Deion Sanders', 'Jerome Bettis', 'Charles Way', 'Herman Moore', 'Yancy Thigpen', 'Tony Boselli', 'Larry Allen', 'Will Shields', 'Richie Cunningham', 'Jason Hanson', 'Chuck Smith', 'Warren Sapp', 'Ray Lewis', 'Jessie Armstead', 'Derrick Brooks', 'James Hasty', 'Merton Hanks', 'Sam Gash', 'Randy Moss', 'Ed McCaffrey', 'Jonathan Ogden', 'Ruben Brown', 'Kevin Mawae', 'Gary Anderson', 'Craig Hentrich', 'Matt Turk', 'Jessie Tuggle', 'Ray Buchanan', 'Lawyer Milloy', 'Kurt Warner', 'Peyton Manning', 'Stephen Davis', 'Marvin Harrison', 'Jimmy Smith', 'Tony Gonzalez', 'Olindo Mare', 'Mike Vanderjagt', 'Kevin Carter', 'Tony Brackens', 'Bryant Young', 'Sam Madison', 'Todd Lyght', 'John Lynch', 'Brian Dawkins', 'Rich Gannon', 'Robert Smith', 'Rod Smith', 'Frank Wycheck', 'Matt Stover', 'Martín Gramática', 'Shane Lechler', 'Derrick Mason', 'Darrick Vaughn', 'Jason Taylor', 'Rob Burnett', 'Keith Hamilton', 'Sam Cowart', 'Charles Woodson', 'Ahman Green', 'Terrell Owens', 'Ernie Conwell', 'Orlando Pace', 'James Williams', 'Ray Brown', 'Jeff Hartings', 'David Akers', 'Michael Strahan', 'Brian Urlacher', 'Zach Thomas', 'Jamir Miller', 'Troy Vincent', 'Sammy Knight', 'Priest Holmes', 'LaDainian Tomlinson', 'Hines Ward', 'Alan Faneca', 'Chris Hanson', 'Michael Lewis', 'Dante Hall', 'Chris Hovan', 'Keith Brooking', 'Keith Bulluck', 'Patrick Surtain', 'Ronde Barber', 'Steve McNair', 'Torry Holt', 'Chad Johnson', 'Todd Heap', 'Kyle Turley', 'Steve Hutchinson', 'Jeff Wilkins', 'Dwight Freeney', 'Kris Jenkins', "La'Roi Glover", 'Dat Nguyen', 'Julian Peterson', 'LaVar Arrington', 'Roy Williams', 'Tony Parrish', 'Daunte Culpepper', 'William Henderson', 'Tony Richardson', 'Antonio Gates', 'Walter Jones', 'Adam Vinatieri', 'Brad Maynard', 'Bertrand Berry', 'Kevin Williams', 'Jamal Williams', 'James Farrior', 'Donnie Edwards', 'Takeo Spikes', 'Champ Bailey', 'Shawn Springs', 'Ed Reed', 'Troy Polamalu', 'Tom Brady', 'Shaun Alexander', 'Larry Johnson', 'Mack Strong', 'Lorenzo Neal', 'Steve Smith', 'Santana Moss', 'Jon Jansen', 'Neil Rackers', 'Shayne Graham', 'Brian Moorman', 'Josh Bidwell', 'Jerome Mathis', 'Terrence McGee', 'Derrick Burgess', 'Richard Seymour', 'Tommie Harris', 'Lance Briggs', 'Joey Porter', 'Mike Brown', 'Drew Brees', 'Frank Gore', 'Mike Karney', 'Olin Kreutz', 'Jeff Saturday', 'Robbie Gould', 'Nate Kaeding', 'Mat McBriar', 'Aaron Kampman', 'Al Wilson', 'Adalius Thomas', 'DeMarcus Ware', 'Nnamdi Asomugha', 'Kerry Rhodes', 'Adrian Peterson', 'Reggie Wayne', 'Jason Witten', 'Flozell Adams', 'Leonard Davis', 'Dan Koppen', 'Rob Bironas', 'Phil Dawson', 'Andy Lee', 'Devin Hester', 'Josh Cribbs', 'Jared Allen', 'Albert Haynesworth', 'Pat Williams', 'James Harrison', 'Patrick Willis', 'Nick Barnett', 'Asante Samuel', 'Bob Sanders', 'DeAngelo Williams', "Le'Ron McClain", 'Madison Hedgecock', 'Andre Johnson', 'Jordan Gross', 'Ryan Clady', 'Kris Dielman', 'Stephen Gostkowski', 'John Carney', 'Donnie Jones', 'Leon Washington', 'Clifton Smith', 'Haloti Ngata', 'Terrell Suggs', 'Adrian Wilson', 'Chris Johnson', 'Steven Jackson', 'Leonard Weaver', 'Dallas Clark', 'Michael Roos', 'Logan Mankins', 'Nick Mangold', 'DeSean Jackson', 'Patrick Crayton', 'Julius Peppers', 'Vince Wilfork', 'Elvis Dumervil', 'Brian Cushing', 'Jon Beason', 'Darren Sharper', 'Arian Foster', 'Michael Turner', 'Vonta Leach', 'Ovie Mughelli', 'Roddy White', 'Brandon Lloyd', 'Joe Thomas', 'Jason Peters', 'Jahri Evans', 'Carl Nicks', 'Maurkice Pouncey', 'Osi Umenyiora', 'Clay Matthews III', 'Jerod Mayo', 'Darrelle Revis', 'Nick Collins', 'Aaron Rodgers', 'Maurice Jones-Drew', 'Ray Rice', 'John Kuhn', 'Calvin Johnson', 'Larry Fitzgerald', 'Rob Gronkowski', 'Jimmy Graham', 'Duane Brown', 'Marshal Yanda', 'Ryan Kalil', 'Sebastian Janikowski', 'Patrick Peterson', 'Justin Smith', 'Geno Atkins', 'Tamba Hali', 'Johnathan Joseph', 'Alfred Morris', 'Jerome Felton', 'A. J. Green', 'Mike Iupati', 'Max Unger', 'Blair Walsh', 'Thomas Morstead', 'Jacoby Jones', 'David Wilson', 'J. J. Watt', 'Von Miller', 'Chad Greenway', 'Daryl Washington', 'Richard Sherman', 'Tim Jennings', 'Earl Thomas', 'Eric Weddle', 'LeSean McCoy', 'Mike Tolbert', 'Marcel Reece', 'Vernon Davis', 'Tyron Smith', 'Louis Vasquez', 'Alex Mack', 'Justin Tucker', 'Matt Prater', 'John Hekker', 'Brandon Fields', 'Cordarrelle Patterson', 'Dexter McCluster', 'Mario Williams', 'Gerald McCoy', 'Dontari Poe', 'Robert Mathis', 'Luke Kuechly', 'Vontaze Burfict', 'Aqib Talib', 'Tony Romo', 'DeMarco Murray', 'Marshawn Lynch', 'Anthony Sherman', 'Antonio Brown', 'Jordy Nelson', 'Andrew Whitworth', 'Josh Sitton', 'Travis Frederick', 'Pat McAfee', 'Johnny Hekker', 'Adam Jones', 'Darren Sproles', 'Calais Campbell', 'Ndamukong Suh', 'Justin Houston', 'C.J. Mosley', 'Chris Harris Jr.', 'Kam Chancellor', 'Cam Newton', 'Carson Palmer', 'Todd Gurley', 'Patrick DiMarco', 'Greg Olsen', 'Brandon Marshall', 'Dan Bailey', 'Sam Koch', 'Tyler Lockett', 'Muhammad Wilkerson', 'Aaron Donald', 'Kawann Short', 'Jamie Collins', 'Bobby Wagner', 'Josh Norman', 'Tyrann Mathieu', 'Reggie Nelson', 'Matt Ryan', 'Ezekiel Elliott', 'David Johnson', "Le'Veon Bell", 'Travis Kelce', 'Odell Beckham Jr.', 'David Bakhtiari', 'Kelechi Osemele', 'Zack Martin', 'David DeCastro', 'Jack Conklin', 'Mitchell Schwartz', 'Marquette King', 'Matthew Slater', 'Nate Ebner', 'Khalil Mack', 'Cameron Wake', 'Lorenzo Alexander', 'Janoris Jenkins', 'Landon Collins', 'Ha Ha Clinton-Dix', 'Chris Harris, Jr.', 'Dominique Rodgers-Cromartie', 'Carson Wentz', 'Alvin Kamara', 'Julio Jones', 'Andrew Norwell', 'Rodger Saffold', 'Jason Kelce', 'Lane Johnson', 'Greg Zuerlein', 'Brett Kern', 'Pharoh Cooper', 'Jamal Agnew', 'Budda Baker', 'Everson Griffen', 'Fletcher Cox', 'Chandler Jones', 'Jalen Ramsey', 'Casey Hayward', 'Kevin Byard', 'Darius Slay', 'Xavier Rhodes']

In [5]:

df_combine = pd.read_excel('Resources/NFL Combine Data.xlsx', sheet_name='Combine Results')
df_nfldraft = pd.read_excel('Resources/NFL Combine Data.xlsx', sheet_name='nfl_draft')


df_combine = df_combine[df_combine['Name'].isin(player_info)]
df_combine.shape

print(df_nfldraft.columns.values)

df_nfldraft.drop(['Unnamed: 0','Unnamed: 34'],axis=1,inplace=True)
print(df_nfldraft.columns.values)

['Unnamed: 0' 'Player_Id' 'Year' 'Rnd' 'Pick' 'Tm' 'Player' 'HOF' 'Pos'
 'Position Standard' 'First4AV' 'Age' 'To' 'AP1' 'PB' 'St' 'CarAV' 'DrAV'
 'G' 'Cmp' 'Pass_Att' 'Pass_Yds' 'Pass_TD' 'Pass_Int' 'Rush_Att'
 'Rush_Yds' 'Rush_TDs' 'Rec' 'Rec_Yds' 'Rec_Tds' 'Tkl' 'Def_Int' 'Sk'
 'College/Univ' 'Unnamed: 34']
['Player_Id' 'Year' 'Rnd' 'Pick' 'Tm' 'Player' 'HOF' 'Pos'
 'Position Standard' 'First4AV' 'Age' 'To' 'AP1' 'PB' 'St' 'CarAV' 'DrAV'
 'G' 'Cmp' 'Pass_Att' 'Pass_Yds' 'Pass_TD' 'Pass_Int' 'Rush_Att'
 'Rush_Yds' 'Rush_TDs' 'Rec' 'Rec_Yds' 'Rec_Tds' 'Tkl' 'Def_Int' 'Sk'
 'College/Univ']

In [6]:
df_NFLChampsMerged = pd.merge(df_combine, df_nfldraft, left_on='Name', right_on='Player')
df_NFLChampsMerged.head(10)

,Year_x,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,...,Rush_Att,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_Tds,Tkl,Def_Int,Sk,College/Univ
0,2015,Landon Collins,Alabama,SS,72.00,228,9.38,31.50,17.0,4.53,...,NaN,NaN,NaN,NaN,NaN,NaN,146.0,6.0,3,Alabama
1,2015,Todd Gurley,Georgia,RB,72.63,222,10.00,31.50,12.0,4.52,...,416.0,1697.0,14.0,47.0,390.0,0.0,NaN,NaN,NaN,Georgia
2,2015,David Johnson,Northern Iowa,RB,72.63,224,9.63,31.25,NaN,4.50,...,322.0,1444.0,18.0,83.0,967.0,6.0,NaN,NaN,NaN,Northern Iowa
3,2015,David Johnson,Northern Iowa,RB,72.63,224,9.63,31.25,NaN,4.50,...,2.0,4.0,0.0,29.0,277.0,1.0,NaN,NaN,NaN,NaN
4,2009,David Johnson,Arkansas State,FB,73.50,260,9.63,31.25,NaN,4.73,...,322.0,1444.0,18.0,83.0,967.0,6.0,NaN,NaN,NaN,Northern Iowa
5,2009,David Johnson,Arkansas State,FB,73.50,260,9.63,31.25,NaN,4.73,...,2.0,4.0,0.0,29.0,277.0,1.0,NaN,NaN,NaN,NaN
6,2015,Tyler Lockett,Kansas State,WR,69.88,182,8.38,30.00,NaN,4.40,...,7.0,35.0,0.0,74.0,989.0,6.0,NaN,NaN,NaN,Kansas St.
7,2014,Aaron Donald,Pittsburgh,DT,72.75,285,9.88,32.63,NaN,4.68,...,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,25,Pittsburgh
8,2014,Khalil Mack,Buffalo,OLB,74.63,251,10.25,33.25,NaN,4.65,...,NaN,NaN,NaN,NaN,NaN,NaN,148.0,NaN,27,Buffalo
9,2014,Zack Martin,Notre Dame,OT,76.25,308,9.50,32.88,NaN,5.22,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Notre Dame

In [7]:
df_NFLChampsMerged.columns

Index(['Year_x', 'Name', 'College', 'POS', 'Height (in)', 'Weight (lbs)',
       'Hand Size (in)', 'Arm Length (in)', 'Wonderlic', '40 Yard',
       'Bench Press', 'Vert Leap (in)', 'Broad Jump (in)', 'Shuttle', '3Cone',
       '60Yd Shuttle', 'Player_Id', 'Year_y', 'Rnd', 'Pick', 'Tm', 'Player',
       'HOF', 'Pos', 'Position Standard', 'First4AV', 'Age', 'To', 'AP1', 'PB',
       'St', 'CarAV', 'DrAV', 'G', 'Cmp', 'Pass_Att', 'Pass_Yds', 'Pass_TD',
       'Pass_Int', 'Rush_Att', 'Rush_Yds', 'Rush_TDs', 'Rec', 'Rec_Yds',
       'Rec_Tds', 'Tkl', 'Def_Int', 'Sk', 'College/Univ'],
      dtype='object')

In [29]:
df_College = df_NFLChampsMerged[['College']].copy()

In [30]:
df_College = df_College.drop_duplicates()
df_College.reset_index(drop=True,inplace=True)
df_College.reset_index(inplace=True)
df_College.rename(columns={"index":"collegeid"},inplace=True)
df_College

     collegeid                  College
0            0                  Alabama
1            1                  Georgia
2            2            Northern Iowa
3            3           Arkansas State
4            4             Kansas State
..         ...                      ...
119        119                 Kentucky
120        120        Angelo State (TX)
121        121  Southern Methodist (TX)
122        122                 Delaware
123        123       Azusa Pacific (CA)

[124 rows x 2 columns]

In [54]:
df_Players = df_NFLChampsMerged[["Player_Id","Name","College","POS"]].copy()

In [55]:
df_Players = pd.merge(df_Players,df_College,on="College")
df_Players.drop(columns="College",inplace=True)
df_Players.reset_index(drop=True,inplace=True)
df_Players.rename(columns={"Player_Id": "playerid", "Name":"name", "POS":"position"}, inplace=True)
df_Players = df_Players[["playerid","name","collegeid","position"]]
df_Players

     playerid              name  collegeid position
0    CollLa00    Landon Collins          0       SS
1    MoslC.00       C.J. Mosley          0      ILB
2    MoslC.20       C.J. Mosley          0      ILB
3    JoneJu02       Julio Jones          0       WR
4    McClLe00    Le'Ron McClain          0       FB
..        ...               ...        ...      ...
370  DawsDe00  Dermontti Dawson        119        C
371  HoltPi00       Pierce Holt        120       DE
372  BallJe00        Jerry Ball        121       DT
373  GannRi00       Rich Gannon        122       QB
374  OkoyCh00   Christian Okoye        123       RB

[375 rows x 4 columns]

In [61]:
df_Draft =  df_NFLChampsMerged[["Player_Id",'Year_y', 'Rnd', 'Pick', 'Tm']].copy()
df_Draft.rename(columns={"Player_Id":"playerid","Year_y":"year","Rnd":"round","Pick":"pick","Tm":"nfl_teamid"},inplace=True)
df_Draft

     playerid  year  round  pick nfl_teamid
0    CollLa00  2015      2    33        NYG
1    GurlTo01  2015      1    10        STL
2    JohnDa08  2015      3    86        ARI
3    JohnDa05  2009      7   241        PIT
4    JohnDa08  2015      3    86        ARI
..        ...   ...    ...   ...        ...
370  BartHa00  1987      1    22        SFO
371  GannRi00  1987      4    98        NWE
372  MajkDo00  1987     10   255        GNB
373  OkoyCh00  1987      2    35        KAN
374  WoodRo01  1987      1    10        PIT

[375 rows x 5 columns]

In [66]:
df_PlayerStats = df_NFLChampsMerged[["Player_Id","First4AV","Age", "To","AP1", "PB","St", "CarAV", "DrAV","G", "Cmp", "Pass_Att", "Pass_Yds", "Pass_TD","Pass_Int", "Rush_Att","Rush_Yds", "Rush_TDs", "Rec", "Rec_Yds", "Rec_Tds","Tkl", "Def_Int", "Sk"]].copy()
df_PlayerStats.rename(columns={"Player_Id":"playerid","First4AV":"first4avg","Age":"age","To":"to_year","AP1":"ap1","PB":"pb",\
                               "St":"st","CarAV":"career_avg","DrAV":"dr_avg","G":"games_count","Cmp":"completion",\
                               "Pass_Att":"pass_att","Pass_Yds":"pass_yds","Pass_TD":"pass_td","Pass_Int":"pass_int","Rush_Att":"rush_att",\
                               "Rush_Yds":"rush_yds","Rush_TDs":"rush_tds","Rec":"rec","Rec_Yds":"rec_yds","Rec_Tds":"rec_tds",\
                               "Tkl":"tackle","Def_Int":"def_int","Sk":"sk"},inplace=True)
df_PlayerStats

,playerid,first4avg,age,to_year,ap1,pb,st,career_avg,dr_avg,games_count,...,pass_int,rush_att,rush_yds,rush_tds,rec,rec_yds,rec_tds,tackle,def_int,sk
0,CollLa00,5,21.0,2016.0,0,0,2,5.0,5.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,6.0,3
1,GurlTo01,8,21.0,2016.0,0,1,2,8.0,8.0,23.0,...,NaN,416.0,1697.0,14.0,47.0,390.0,0.0,NaN,NaN,NaN
2,JohnDa08,9,23.0,2016.0,0,0,1,9.0,9.0,26.0,...,NaN,322.0,1444.0,18.0,83.0,967.0,6.0,NaN,NaN,NaN
3,JohnDa05,2,22.0,2016.0,0,0,1,2.0,2.0,93.0,...,NaN,2.0,4.0,0.0,29.0,277.0,1.0,NaN,NaN,NaN
4,JohnDa08,9,23.0,2016.0,0,0,1,9.0,9.0,26.0,...,NaN,322.0,1444.0,18.0,83.0,967.0,6.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,BartHa00,41,23.0,1996.0,2,1,10,78.0,78.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina
371,GannRi00,18,21.0,2004.0,2,4,8,99.0,NaN,157.0,...,104.0,521.0,2449.0,21.0,2.0,-3.0,0.0,NaN,NaN,Delaware
372,MajkDo00,36,23.0,1996.0,0,1,4,39.0,34.0,90.0,...,67.0,248.0,1114.0,12.0,NaN,NaN,NaN,NaN,NaN,Virginia
373,OkoyCh00,32,26.0,1992.0,1,2,6,33.0,33.0,79.0,...,NaN,1246.0,4897.0,40.0,42.0,294.0,0.0,NaN,NaN,Azusa Pacific
374,WoodRo01,52,22.0,2003.0,6,11,15,141.0,95.0,238.0,...,NaN,1.0,0.0,0.0,NaN,NaN,NaN,71.0,13.5,Purdue

In [70]:
#df_CombineData = df_NFLChampsMerged[['Player_Id','Height (in)', 'Weight (lbs)','Hand Size (in)', 'Arm Length (in)', 'Wonderlic', '40 Yard','Bench Press', 'Vert Leap (in)', 'Broad Jump (in)', 'Shuttle', '3Cone','60Yd Shuttle']].copy()

df_CombineData = df_NFLChampsMerged.iloc[:,4:17].copy()
df_CombineData.rename(columns={df_CombineData.columns[0]: "height",df_CombineData.columns[1]: "weight",\
                               df_CombineData.columns[2]: "handsize",df_CombineData.columns[3]: "arm_length",\
                               df_CombineData.columns[4]: "wonderlic",df_CombineData.columns[5]: "forty_yard",\
                               df_CombineData.columns[6]: "bench_press",df_CombineData.columns[7]: "vert_leap",\
                               df_CombineData.columns[8]: "broad_jump",df_CombineData.columns[9]: "shuttle",\
                               df_CombineData.columns[10]: "threecone", df_CombineData.columns[11]: "sixty_yd_shuttle",\
                               df_CombineData.columns[12]: "playerid"},inplace=True)
df_CombineData = df_CombineData[['playerid', 'height', 'weight', 'handsize', 'arm_length', 'wonderlic', 'forty_yard',
       'bench_press', 'vert_leap', 'broad_jump', 'shuttle', 'threecone',
       'sixty_yd_shuttle']]
df_CombineData

,playerid,height,weight,handsize,arm_length,wonderlic,forty_yard,bench_press,vert_leap,broad_jump,shuttle,threecone,sixty_yd_shuttle
0,CollLa00,72.00,228,9.38,31.50,17.0,4.53,NaN,35.0,120.0,4.33,7.38,11.94
1,GurlTo01,72.63,222,10.00,31.50,12.0,4.52,17.0,NaN,NaN,NaN,NaN,NaN
2,JohnDa08,72.63,224,9.63,31.25,NaN,4.50,25.0,41.5,127.0,4.27,6.82,NaN
3,JohnDa05,72.63,224,9.63,31.25,NaN,4.50,25.0,41.5,127.0,4.27,6.82,NaN
4,JohnDa08,73.50,260,9.63,31.25,NaN,4.73,21.0,32.5,113.0,4.43,7.28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,BartHa00,76.30,280,9.50,31.75,NaN,5.03,24.0,31.0,106.0,4.46,NaN,NaN
371,GannRi00,74.30,193,9.50,30.00,NaN,4.58,7.0,32.5,110.0,4.11,NaN,NaN
372,MajkDo00,73.50,199,9.00,32.25,NaN,4.83,NaN,34.0,116.0,4.13,NaN,NaN
373,OkoyCh00,73.60,250,9.75,33.00,NaN,NaN,21.0,31.0,NaN,NaN,NaN,NaN
374,WoodRo01,72.00,202,10.50,31.00,NaN,4.33,10.0,36.0,125.0,3.98,NaN,10.92

In [56]:
df_College.rename(columns={"College":"college"},inplace=True)

In [15]:
# Place holder for DB Connection

# The SQLAlchemy engine will help manage interactions, including automatically
# managing a pool of connections to your database

#db = sqlalchemy.create_engine(
# db = create_engine(
#     # Equivalent URL:
#     # postgres+pg8000://"nfl_da":"C0nn2nfd_da#7"@/"nfl-da-grp7"?unix_sock=/cloudsql/"nfl-da-grp7"/.s.PGSQL.5432
#         sqlalchemy.engine.url.URL(
#         drivername='postgres+pg8000',
#         username="nfl_da",
#         password="C0nn2nfd_da#7",
#         database="nfl-da-grp7",
#         query={
#             'unix_sock': '/cloudsql/{nfl-da-grp7}/.s.PGSQL.5432'.format(cloud_sql_connection_name)
#         }
#     ),
#     # ... Specify additional properties here.
#     # ...
# )

In [16]:
rds_connection_string = "postgres:cyclone1@localhost:5432/nfl-da-grp7"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [71]:
# Place holder for inserting Dataframe to postgres table

df_College.to_sql(name='college', con=engine, if_exists='append', index=False)
df_Players.to_sql(name='player', con=engine, if_exists='append', index=False)
df_Draft.to_sql(name='draft', con=engine, if_exists='append', index=False)
df_PlayerStats.to_sql(name='player_stats', con=engine, if_exists='append', index=False)
df_CombineData.to_sql(name='combine_data', con=engine, if_exists='append', index=False)